In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from skimpy import clean_columns
import re
from datetime import datetime

In [2]:
df0 = pd.read_json("as24_cars.json")

In [3]:
df0 = clean_columns(df0, case="snake")

50 column names have been cleaned

In [4]:
df = df0.copy()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29480 entries, 0 to 29479
Data columns (total 58 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   make_model               28630 non-null  object
 1   short_description        28630 non-null  object
 2   make                     28630 non-null  object
 3   model                    28630 non-null  object
 4   location                 28630 non-null  object
 5   price                    28630 non-null  object
 6   body_type                28630 non-null  object
 7   type                     28630 non-null  object
 8   doors                    28271 non-null  object
 9   country_version          16889 non-null  object
 10  offer_number             23100 non-null  object
 11  warranty                 15784 non-null  object
 12  mileage                  28629 non-null  object
 13  first_registration       28628 non-null  object
 14  gearbox                  28382 non-null  object
 15  fuel_type                26843 non-null  object
 16  colour                   26906 non-null  object
 17  paint                    14495 non-null  object
 18  desc                     28047 non-null  object
 19  seller                   28630 non-null  object
 20  seats                    25505 non-null  object
 21  power                    28058 non-null  object
 22  engine_size              27227 non-null  object
 23  gears                    18954 non-null  object
 24  co_emissions             18594 non-null  object
 25  manufacturer_colour      21787 non-null  object
 26  drivetrain               16893 non-null  object
 27  cylinders                18852 non-null  object
 28  fuel_consumption         23385 non-null  object
 29  comfort_&_convenience    25433 non-null  object
 30  entertainment_&_media    23644 non-null  object
 31  safety_&_security        25415 non-null  object
 32  extras                   23480 non-null  object
 33  empty_weight             17758 non-null  object
 34  model_code               8367 non-null   object
 35  general_inspection       12254 non-null  object
 36  last_service             2003 non-null   object
 37  full_service_history     12565 non-null  object
 38  non_smoker_vehicle       11594 non-null  object
 39  emission_class           17859 non-null  object
 40  emissions_sticker        9414 non-null   object
 41  upholstery_colour        14569 non-null  object
 42  upholstery               18610 non-null  object
 43  production_date          5908 non-null   float64
 44  previous_owner           14015 non-null  object
 45  other_fuel_types         2313 non-null   object
 46  power_consumption        515 non-null    object
 47  energy_efficiency_class  7804 non-null   object
 48  co_efficiency            7804 non-null   object
 49  fuel_consumption_wltp    100 non-null    object
 50  co_emissions_wltp        116 non-null    object
 51  available_from           393 non-null    object
 52  taxi_or_rental_car       422 non-null    object
 53  availability             301 non-null    object
 54  last_timing_belt_change  572 non-null    object
 55  electric_range_wltp      16 non-null     object
 56  power_consumption_wltp   16 non-null     object
 57  battery_ownership        7 non-null      object
dtypes: float64(1), object(57)
memory usage: 13.0+ MB

## <p style="background-color:#Green; font-family:newtimeroman; color:Orange; font-size:175%; text-align:left; border-radius:10px 10px;">Data Summary</p>
<a id="1"></a>

- **make_model**: Vehicle brand and model.
- **short_description**: Brief description.
- **make**: Vehicle brand.
- **model**: Vehicle model.
- **location**: Location of the vehicle.
- **price**: Price.
- **body_type**: Vehicle body type.
- **type**: Vehicle type.
- **doors**: Number of doors in the vehicle.
- **country_version**: Country version of the vehicle.
- **offer_number**: Offer number.
- **warranty**: Warranty.
- **mileage**: Vehicle mileage information.
- **first_registration**: First registration date.
- **gearbox**: Gearbox type.
- **fuel_type**: Fuel type.
- **colour**: Vehicle color.
- **paint**: Paint type.
- **desc**: Description.
- **seller**: Seller.
- **seats**: Number of seats in the vehicle.
- **power**: Engine power.
- **engine_size**: Engine size.
- **gears**: Number of gears.
- **co_emissions**:  CO₂ emissions.
- **manufacturer_colour**: Manufacturer color.
- **drivetrain**: Drivetrain type.
- **cylinders**: Number of cylinders.
- **fuel_consumption**: Fuel consumption.
- **comfort_&_convenience**: Comfort and convenience features.
- **entertainment_&_media**: Entertainment and media features.
- **safety_&_security**: Safety and security features.
- **extras**: Extra features.
- **empty_weight**: Empty weight.
- **model_code**: Model code.
- **general_inspection**: General inspection.
- **last_service**: Last service.
- **full_service_history**: Full service history.
- **non_smoker_vehicle**: Non-smoker vehicle.
- **emission_class**: Emission class.
- **emissions_sticker**: Emissions sticker.
- **upholstery_colour**: Upholstery color.
- **upholstery**: Upholstery.
- **production_date**: Production date.
- **previous_owner**: Previous owner.
- **other_fuel_types**: Other fuel types.
- **power_consumption**: Power consumption.
- **energy_efficiency_class**: Energy efficiency class.
- **co_efficiency**:  CO₂ efficiency.
- **fuel_consumption_wltp**: WLTP fuel consumption.
- **co_emissions_wltp**: WLTP  CO₂ emissions.
- **available_from**: Available from.
- **taxi_or_rental_car**: Taxi or rental car.
- **availability**: Availability status.
- **last_timing_belt_change**: Last timing belt change.
- **electric_range_wltp**: WLTP electric range.
- **power_consumption_wltp**: WLTP power consumption.
- **battery_ownership**: Battery ownership.

In [6]:
# brand names are cleaned
df.make = df.make.str.strip()
df.make.sample(5)

21600             Ford
9574           Peugeot
13080             SEAT
874      Mercedes-Benz
6648           Renault
Name: make, dtype: object

In [7]:
# model name are cleaned from list
df.model = df.model.transform(lambda x: x[0].split(",")[1].strip() if type(x) == list else x)
df.model.head()

0       A 160
1     EQE 350
2    A 45 AMG
3    A 35 AMG
4    A 45 AMG
Name: model, dtype: object

In [8]:
# Model
# "" values has been inserted and read as notnull.
# "" values has been transformed as NaN
df.loc[df[df["model"] == ""].index, "model"] = np.nan
df.model.value_counts(dropna = False)

NaN           1126
Megane         863
Leon           787
V40            740
Sandero        730
              ...
GLA 35 AMG       1
G 55 AMG         1
Ariya            1
105              1
244              1
Name: model, Length: 594, dtype: int64

In [9]:
# price amount format is cleaned
df.price = df.price.str.replace("\D", "", regex=True).astype("float")

In [10]:
#body_type is cleaned
df.body_type = df.body_type.transform(lambda x: x[0].split(",")[1].strip() if type(x) == list else x)

In [11]:
# type is cleaned
df.type = df.type.transform(lambda x: x[0].split(",")[1].strip() if type(x) == list else x)

In [12]:
df.manufacturer_colour = df.manufacturer_colour.str.title()

In [13]:
# door is cleaned since entered in list. strip is used and transformed to float type
df.doors = df.doors.apply(lambda x: x[0].split(",")[1].strip() if type(x) == list else x).astype("float")

In [14]:
df.country_version = df.country_version.apply(lambda x: x[0].split(",")[1].strip() if type(x) == list else x)

In [15]:
df.offer_number = df.offer_number.apply(lambda x: x[0].split(",")[1].strip() if type(x) == list else x)

In [128]:
df.warranty = df.warranty.apply(lambda x : x[0].split(',')[1] if type(x) == list else x).str.strip()
df.warranty = df.warranty.replace('0 months', np.nan).apply(lambda x :'Yes'  if (isinstance(x, str) and ('months' in x)) else x)

In [130]:
df.warranty.unique()

array(['Yes', nan], dtype=object)

In [20]:
df.mileage = df.mileage.str.replace("\D+","", regex = True).astype("float")

In [21]:
df.gearbox = df.gearbox.apply(lambda x: x[0].strip() if type(x) == list else x)

In [22]:
df.empty_weight = df.empty_weight.apply(lambda x: float(re.sub(r'[,kg]', '', x[0].strip())) if isinstance(x, list) else x)

# Fuel Consumption

In [23]:
df.fuel_consumption = df.fuel_consumption.apply(lambda x: "".join([item for sublist in x for item in sublist]) if isinstance(x, list) else x)

In [24]:
kg_consist = df[df.fuel_consumption.str.match("\d+.*\d* (kg/100)") == True]

In [25]:
kg_index = kg_consist["fuel_consumption"].index

In [26]:
df.loc[kg_index,"fuel_type"].value_counts()

CNG                                                                                              86
Domestic gas H                                                                                   22
Domestic gas L                                                                                    8
CNG (Particle filter)                                                                             8
Domestic gas L (Particle filter)                                                                  1
Biogas                                                                                            1
Domestic gas H / Super E10 95 / Super Plus E10 98 / Super 95 / Super Plus 98 / Domestic gas L     1
Domestic gas L / Super 95 / Domestic gas H                                                        1
Hydrogen                                                                                          1
Name: fuel_type, dtype: int64

In [27]:
cng = df[(df.fuel_consumption.str.match("\d+.*\d* (kg/100)") == True) & (df["fuel_type"] == "CNG")].index
do_l = df[(df.fuel_consumption.str.match("\d+.*\d* (kg/100)") == True) & (df["fuel_type"] == "Domestic gas L")].index
do_h = df[(df.fuel_consumption.str.match("\d+.*\d* (kg/100)") == True) & (df["fuel_type"] == "Domestic gas H")].index
cng_partic = df[(df.fuel_consumption.str.match("\d+.*\d* (kg/100)") == True) & (df["fuel_type"] == "CNG (Particle filter)")].index
do_l_partic = df[(df.fuel_consumption.str.match("\d+.*\d* (kg/100)") == True) & (df["fuel_type"] == "Domestic gas L (Particle filter)")].index
biogas = df[(df.fuel_consumption.str.match("\d+.*\d* (kg/100)") == True) & (df["fuel_type"] == "Biogas")].index
do_sup_plus = df[(df.fuel_consumption.str.match("\d+.*\d* (kg/100)") == True) & (df["fuel_type"] == "Domestic gas H / Super E10 95 / Super Plus E10 98 / Super 95 / Super Plus 98 / Domestic gas L")].index
do_sup = df[(df.fuel_consumption.str.match("\d+.*\d* (kg/100)") == True) & (df["fuel_type"] == "Domestic gas L / Super 95 / Domestic gas H")].index
hydrogen = df[(df.fuel_consumption.str.match("\d+.*\d* (kg/100)") == True) & (df["fuel_type"] == "Hydrogen")].index

In [28]:
df.fuel_consumption = df['fuel_consumption'].str.extract(r'^(\d+\.*\d*)').astype("float64")

In [29]:
df.loc[biogas, "fuel_consumption"]

13505    3.3
Name: fuel_consumption, dtype: float64

In [30]:
df.loc[cng, "fuel_consumption"] = (df[df["fuel_type"] == "CNG"]["fuel_consumption"].dropna() / 0.735).round(1)
df.loc[do_l, "fuel_consumption"] = (df[df["fuel_type"] == "Domestic gas L"]["fuel_consumption"].dropna() / 1).round(1)
df.loc[do_h, "fuel_consumption"] = (df[df["fuel_type"] == "Domestic gas H"]["fuel_consumption"].dropna() / 0.6).round(1)
df.loc[cng_partic, "fuel_consumption"] = (df[df["fuel_type"] == "CNG (Particle filter)"]["fuel_consumption"].dropna() / 0.735).round(1)
df.loc[do_l_partic, "fuel_consumption"] = (df[df["fuel_type"] == "Domestic gas L (Particle filter)"]["fuel_consumption"].dropna() / 0.65).round(1)
df.loc[biogas, "fuel_consumption"] = (df[df["fuel_type"] == "Biogas"]["fuel_consumption"].dropna() / 0.8).round(1)
df.loc[do_sup_plus, "fuel_consumption"] = (df[df["fuel_type"] == "Domestic gas H / Super E10 95 / Super Plus E10 98 / Super 95 / Super Plus 98 / Domestic gas L"]["fuel_consumption"].dropna() / 0.76).round(1)
df.loc[do_sup, "fuel_consumption"] = (df[df["fuel_type"] == "Domestic gas L / Super 95 / Domestic gas H"]["fuel_consumption"].dropna() / 0.75).round(1)
df.loc[hydrogen, "fuel_consumption"] = (df[df["fuel_type"] == "Hydrogen"]["fuel_consumption"].dropna() / 0.09).round(1)

In [31]:
df.loc[biogas, "fuel_consumption"]

13505    4.1
Name: fuel_consumption, dtype: float64

# fuel_type

In [32]:
# fuel_type has been classified into five main category
def fuel_type_main(x):
    if isinstance(x, str):
        if re.search(r"CNG|Hydrogen|^Biogas|Domestic|Ethanol|Others", x):
            return "Other"
        elif re.search(r"LPG", x):
            return "LPG"
        elif re.search(r"Electric", x):
            return "Electric"
        elif re.search(r"Regular|Benzine|Super|Gasoline", x):
            return "Benzine"
        elif re.search(r"Diesel", x):
            return "Diesel"
        else:
            return "Other"
    return x

In [33]:
df["fuel_type"] = df.fuel_type.apply(fuel_type_main)

# Fuel Consumption Part 2

In [34]:
df.groupby("fuel_type")["fuel_consumption"].value_counts(dropna = False)

fuel_type  fuel_consumption
Benzine    NaN                 2953
           5.0                  554
           5.4                  491
           4.9                  480
           5.1                  475
                               ...
Other      8.9                    1
           9.8                    1
           11.4                   1
           11.8                   1
           12.4                   1
Name: fuel_consumption, Length: 357, dtype: int64

In [35]:
# coverting to KwH type
# fuel_type (lt = ... kwH)
# Lpg = 6.98
# Diesel = 10,96
# Gasoline = 9.61
# Electric = missing value = kwh
# others 1.92

In [36]:
df.loc[df[df["fuel_type"] == "Lpg"].index, "fuel_consumption"] = (df.loc[df[df["fuel_type"] == "Lpg"].index, "fuel_consumption"] * 6.98).round(1)

df.loc[df[df["fuel_type"] == "Diesel"].index, "fuel_consumption"] = (df.loc[df[df["fuel_type"] == "Diesel"].index, "fuel_consumption"] * 10.96).round(1)

df.loc[df[df["fuel_type"] == "Benzine"].index, "fuel_consumption"] = (df.loc[df[df["fuel_type"] == "Benzine"].index, "fuel_consumption"] * 9.61).round(1)

df.loc[df[df["fuel_type"] == "Others"].index, "fuel_consumption"] = (df.loc[df[df["fuel_type"] == "Others"].index, "fuel_consumption"] * 1.92).round(1)

In [37]:
df.groupby("fuel_type")["fuel_consumption"].value_counts(dropna = False)

fuel_type  fuel_consumption
Benzine    NaN                 2953
           48.0                 554
           51.9                 491
           47.1                 480
           49.0                 475
                               ...
Other      8.9                    1
           9.8                    1
           11.4                   1
           11.8                   1
           12.4                   1
Name: fuel_consumption, Length: 357, dtype: int64

In [38]:
df.seats = df.seats.apply(lambda x: x[0].split(",")[1] if type(x) == list else x).astype("float")

In [39]:
#Horse Power

df["power"] = df.power.apply(lambda x: x[0].split("hp")[0].split(r"(")[1].strip().replace(",","") if type(x) == list else x).astype("float")

In [40]:
# engine_size
df.engine_size = (df.engine_size.apply(lambda x: x[0].strip().strip("cc").strip().replace(",","") if type(x) == list else x).astype("float").apply(lambda x: x/1000)).round(1)
df.engine_size.sample(10)

6736     1.5
8159     2.7
3300     2.0
1670     2.0
25706    2.0
25626    1.2
20274    1.5
12203    1.5
21467    1.0
2038     4.0
Name: engine_size, dtype: float64

In [41]:
# number of gears
df.gears = df.gears.apply(lambda x: x[0].strip() if type(x) == list else x).astype("float")
df.gears.sample(5)

23242    6.0
12890    7.0
12628    6.0
6527     5.0
5323     NaN
Name: gears, dtype: float64

In [42]:
# co_emissions g/km
df.co_emissions = df.co_emissions.apply(lambda x: x.split("g")[0].strip().replace(",","") if type(x) == str else x).astype("float")
df.co_emissions.sample(5)

3364       NaN
26169    123.0
17365    104.0
28116    144.0
20296    122.0
Name: co_emissions, dtype: float64

In [43]:
# drivetrains type 
df.drivetrain = df.drivetrain.apply(lambda x: x[0].strip().strip(",").strip() if type(x) == list else x)

In [44]:
# cyclinders
df.cylinders = df.cylinders.apply(lambda x: x[0].strip() if type(x) == list else x).astype("float")
df.cylinders.value_counts()

4.0     13068
3.0      3258
6.0      1013
5.0       799
8.0       539
2.0       103
0.0        35
1.0        21
12.0        8
7.0         6
26.0        1
16.0        1
Name: cylinders, dtype: int64

In [45]:
# model code
df.model_code = df.model_code.apply(lambda x: x[0].strip().strip(",").strip() if type(x) == list else x)
df.model_code.unique()

array([nan, '0999/338', '2222/AJB', ..., '9101/BSF', '9101/389',
       '9101/449'], dtype=object)

In [46]:
df["first_registration"] = pd.to_datetime(df["first_registration"])    # transformed into date time. day and month can be removed

In [47]:
#warranty and first registration

In [48]:
df.loc[:,["first_registration", "warranty"]] # yesleri nan yapiyoruz. nanlari (groupby: model, first_registration) tarafina gore fill na yapacagiz.

      first_registration warranty
0             2016-06-01      Yes
1             2022-06-01      Yes
2             2020-07-01      Yes
3             2020-01-01      Yes
4             2015-09-01      Yes
...                  ...      ...
29475         2004-06-01      NaN
29476         2011-04-01      Yes
29477         2017-11-01      Yes
29478         2002-07-01      NaN
29479                NaT      NaN

[29480 rows x 2 columns]

In [49]:
date = datetime.strptime("31-12-2022", "%d-%m-%Y")
# Age of the automobile and and remaining warranty duration
x = round((date - df["first_registration"])/np.timedelta64(1, 'M'),0).to_frame()
x["warranty"] = df.warranty
x

       first_registration warranty
0                    79.0      Yes
1                     7.0      Yes
2                    30.0      Yes
3                    36.0      Yes
4                    88.0      Yes
...                   ...      ...
29475               223.0      NaN
29476               141.0      Yes
29477                62.0      Yes
29478               246.0      NaN
29479                 NaN      NaN

[29480 rows x 2 columns]

In [50]:
# first_registration will be classifien in year format 
df.first_registration = df.first_registration.dt.year
df.first_registration.sample()

27025    2008.0
Name: first_registration, dtype: float64

# General Inspection

In [51]:
df.general_inspection.value_counts(dropna = False) # "New" values are transformed into NaN values

NaN        17226
New         5883
05/2023      286
08/2023      280
03/2023      268
           ...
09/2017        1
08/2013        1
08/2020        1
08/2018        1
03/2021        1
Name: general_inspection, Length: 92, dtype: int64

In [52]:
df.general_inspection = df.general_inspection.replace(to_replace = "New", value = np.nan).astype("datetime64[ns]").dt.year
df.general_inspection.value_counts()

2023.0    2781
2024.0    1871
2025.0     868
2022.0     720
2021.0      73
2026.0      23
2020.0      18
2019.0       8
2018.0       3
2017.0       3
2027.0       2
2013.0       1
Name: general_inspection, dtype: int64

In [53]:
# last service will be dropped
df.last_service.value_counts(dropna = False)

NaN        27477
09/2022      220
08/2022      196
06/2022      164
07/2022      155
           ...
02/2018        1
02/2011        1
10/2013        1
08/2017        1
08/2019        1
Name: last_service, Length: 62, dtype: int64

In [54]:
df.available_from = df.available_from.apply(lambda x: x[0].split(",")[1] if type(x) == list else x).astype("datetime64[ns]")

In [55]:
df[df.available_from.notnull()].available_from

427     2022-01-12
471     2023-03-03
484     2023-03-31
499     2022-12-13
533     2022-12-18
           ...
27858   2022-12-15
27931   2023-01-04
28120   2023-02-02
28223   2022-11-15
28242   2022-12-15
Name: available_from, Length: 393, dtype: datetime64[ns]

In [56]:
df.availability = df.availability.apply(lambda x: x[0].strip() if type(x) == list else x)

In [57]:
df.availability.unique()

array([nan, ', in 1 day after order,', ', in 120 days after order,',
       ', in 7 days after order,', ', in 3 days after order,',
       ', in 180 days after order,', ', in 42 days after order,',
       ', in 60 days after order,', ', in 90 days after order,',
       ', in 5 days after order,', ', in 6 days after order,',
       ', in 14 days after order,', ', in 28 days after order,',
       ', in 360 days after order,', ', in 270 days after order,',
       ', in 21 days after order,', ', in 4 days after order,',
       ', in 2 days after order,', ', in 150 days after order,'],
      dtype=object)

In [58]:
df.last_service = df.last_service.astype("datetime64[ns]").dt.year
df.last_service.value_counts()

2022.0    1345
2021.0     512
2020.0      97
2019.0      23
2018.0      12
2017.0       5
2016.0       2
2013.0       1
2011.0       1
1988.0       1
2007.0       1
2023.0       1
2010.0       1
2012.0       1
Name: last_service, dtype: int64

In [59]:
df.non_smoker_vehicle.value_counts(dropna = False, normalize = True)

NaN    0.606716
Yes    0.393284
Name: non_smoker_vehicle, dtype: float64

In [60]:
# will be classified as 10-20-30 and examined
df.emission_class.unique() # euro standatlari aracin uretildigi tarihteki gecerli olan emission limitlerine uygun olmak zorunda.
                           # kullanici etkisi ise avrupada bazi sehirlerde bazi bolgelerde zonelar var bu bolgelere belirli euro limiti alti arac giremiyor

array([nan, 'Euro 4', 'Euro 6', 'Euro 6d-TEMP', 'Euro 5', 'Euro 6d',
       'Euro 6c', 'Euro 3', 'Euro 2', 'Euro 1'], dtype=object)

In [61]:
# euro emisson types are reclassified as below
emission_new = {
    'Euro 1': 10,
    'Euro 2': 20,
    'Euro 3': 30,
    'Euro 4': 40,
    'Euro 5': 50,
    'Euro 6': 60,
    'Euro 6c': 62,
    'Euro 6d': 64,
    'Euro 6d-TEMP': 66,
}

df['emission_class'] = df['emission_class'].map(emission_new)


df['emission_class'].unique()

array([nan, 40., 60., 66., 50., 64., 62., 30., 20., 10.])

In [62]:
df[df["emission_class"] == 60]["fuel_type"]

8        Benzine
10        Diesel
16           NaN
23       Benzine
30       Benzine
          ...
29443     Diesel
29446    Benzine
29461    Benzine
29471     Diesel
29477    Benzine
Name: fuel_type, Length: 6418, dtype: object

In [63]:
# emissions_sticker
df.emissions_sticker.value_counts(dropna = False, normalize = True)  
# emisson class emisson sticker co_emmisions co_efficiency bir sutunda toplanacak

NaN               0.680665
4 (Green)         0.313094
1 (No sticker)    0.005970
3 (Yellow)        0.000204
2 (Red)           0.000068
Name: emissions_sticker, dtype: float64

In [64]:
# emission sticker has been reclassified as 1, 2, 3, 4 
df.emissions_sticker.unique()

array([nan, '4 (Green)', '1 (No sticker)', '3 (Yellow)', '2 (Red)'],
      dtype=object)

In [65]:
emission_sticker_new = {
    '1 (No sticker)' : 1,
    '2 (Red)' : 2,
    '3 (Yellow)' : 3,
    '4 (Green)' : 4
}

df["emissions_sticker"] = df["emissions_sticker"].map(emission_sticker_new)

In [66]:
df.emissions_sticker.unique()

array([nan,  4.,  1.,  3.,  2.])

In [67]:
df.co_emissions_wltp = df.co_emissions_wltp.apply(lambda x: x.split("g")[0].strip().replace(",","") if type(x) == str else x).astype("float")
df.co_emissions_wltp.value_counts()

0.0      14
125.0     8
130.0     4
129.0     4
153.0     3
         ..
285.0     1
211.0     1
159.0     1
115.0     1
123.0     1
Name: co_emissions_wltp, Length: 68, dtype: int64

In [68]:
df.fuel_consumption_wltp = df.fuel_consumption_wltp.apply(lambda x: x.split("l")[0].strip().replace(",","") if type(x) == str else x).astype("float")
df.fuel_consumption_wltp.sample()

6919   NaN
Name: fuel_consumption_wltp, dtype: float64

In [69]:
df.previous_owner = df.previous_owner.apply(lambda x: x[1] if type(x) == list else x)
df.previous_owner.value_counts()

1     9746
2     3221
3      699
4      184
5       69
6       37
7       22
8       16
9       14
12       3
10       2
14       1
13       1
Name: previous_owner, dtype: int64

# Location_country

In [70]:
# country location has been extracted from location column and entered as location_country
df["location_country"] = df.location.apply(lambda x: x.split(",")[-1].strip() if isinstance(x, str) else x)

In [71]:
df.country_version.unique()

array(['Spain', 'Germany', nan, 'Belgium', 'Austria', 'France',
       'Netherlands', 'Italy', 'European Union', 'Luxembourg', 'Slovenia',
       'Poland', 'Hungary', 'Japan', 'Switzerland', 'Romania', 'Denmark',
       'Czechia', 'Slovakia', 'Croatia', 'Bulgaria', 'United States',
       'Sweden', 'Malta', 'Canada', 'Mexico'], dtype=object)

In [72]:
df.country_version.isnull().sum()

12591

In [73]:
df0.location.apply(lambda x: x.split(",")[-1].strip() if isinstance(x, str) else x).unique()

array(['ES', 'DE', 'BE', 'AT', 'NL', 'FR', 'IT', nan, 'LU', 'DK', 'EE',
       'BG'], dtype=object)

In [74]:
df.location_country.value_counts(dropna = False)

DE     12643
ES      6517
NL      2929
IT      2497
BE      1873
FR      1473
NaN      850
AT       660
LU        35
DK         1
EE         1
BG         1
Name: location_country, dtype: int64

In [75]:
country_codes = {
    'ES': 'Spain',
    'DE': 'Germany',
    'BE': 'Belgium',
    'AT': 'Austria',
    'NL': 'Netherlands',
    'FR': 'France',
    'IT': 'Italy',
    'LU': 'Luxembourg',
    'DK': 'Denmark',
    'EE': 'Estonia',
    'BG': 'Bulgaria'
}

In [76]:
country_codes.items()

dict_items([('ES', 'Spain'), ('DE', 'Germany'), ('BE', 'Belgium'), ('AT', 'Austria'), ('NL', 'Netherlands'), ('FR', 'France'), ('IT', 'Italy'), ('LU', 'Luxembourg'), ('DK', 'Denmark'), ('EE', 'Estonia'), ('BG', 'Bulgaria')])

In [77]:
for key, value in country_codes.items():
    df['location_country'] = df['location_country'].replace(key, value)

In [78]:
df.location_country

0              Spain
1              Spain
2              Spain
3              Spain
4              Spain
            ...
29475    Netherlands
29476        Belgium
29477    Netherlands
29478    Netherlands
29479            NaN
Name: location_country, Length: 29480, dtype: object

In [79]:
#power consumption kwh/100km
df.power_consumption_wltp = df.power_consumption_wltp.str.extract(r'(\d+)', expand=False).astype(float)
df.power_consumption_wltp.notnull()

0        False
1        False
2        False
3        False
4        False
         ...
29475    False
29476    False
29477    False
29478    False
29479    False
Name: power_consumption_wltp, Length: 29480, dtype: bool

In [80]:
# electric range km
df.electric_range_wltp = df.electric_range_wltp.str.extract(r'(\d+)', expand=False).astype(float)

# Description

In [81]:
df.desc = df.desc.apply(lambda x: "".join(x).strip() if type(x) == list else x).str.title()
df.desc.sample(5)

18533    Bijzonderheden:Deze Originele Nlauto Heeft De ...
27479    Max. Trekgewicht: 1.300 Kg (Ongeremd 650 Kg)En...
11122    Precio Al Contado: 13800 Euros Ref.  8941Jdp  ...
7979     Verkaufe Peugeot Cabriomotor Und Getriebe Topp...
18786    Precio Al Contado: 13499 Euros Toyota Avensis ...
Name: desc, dtype: object

# Extras

In [82]:
# changed to title case and astype as category
df.extras = df.extras.apply(lambda x: x[0] if isinstance(x, list) else x).str.title().astype("category")

In [83]:
ext_list = list(df["extras"].dropna().unique())

In [84]:
result = {}
for item in ext_list:
    parts = item.split(', ')
    for part in parts:
        part = part.strip()
        if part in result:
            result[part] += 1
        else:
            result[part] = 1
result

{'Sport Seats': 4013,
 'Alloy Wheels (17")': 1027,
 'Catalytic Converter': 1576,
 'Emergency Tyre Repair Kit': 3328,
 'Headlight Washer System': 1993,
 "Smoker'S Package": 518,
 'Sport Package': 2521,
 'Alloy Wheels': 4365,
 'Spoiler': 1388,
 'Sport Suspension': 2510,
 'Automatically Dimming Interior Mirror': 5140,
 'Voice Control': 4770,
 'Cargo Barrier': 2061,
 'Emergency Tyre': 1148,
 'Summer Tyres': 3746,
 'Winter Package': 2492,
 'Alloy Wheels (19")': 681,
 'Ski Bag': 564,
 'Winter Tyres': 957,
 'Electronic Parking Brake': 2032,
 'Shift Paddles': 2455,
 'Touch Screen': 5068,
 'Sliding Door': 60,
 'Alloy Wheels (18")': 933,
 'Ambient Lighting': 2840,
 'Alloy Wheels (16")': 683,
 'E10-Enabled': 2271,
 'Spare Tyre': 1226,
 'Alloy Wheels (21")': 59,
 'Trailer Hitch': 1621,
 'Alloy Wheels (20")': 243,
 'Steel Wheels': 686,
 'Biodiesel Conversion': 8,
 'Handicapped Enabled': 26,
 'Tuned Car': 235,
 'Range Extender': 42,
 'All Season Tyres': 991,
 'Alloy Wheels (14")': 37,
 'Alloy Wheels (15")': 214,
 'Roof Rack': 2989,
 'Alloy Wheels (22")': 10,
 'Alloy Wheels (23")': 1,
 'Alloy Wheels (13")': 6,
 'Right Hand Drive': 28,
 'Awning': 55,
 'Alloy Wheels (26")': 1,
 'Alloy Wheels (10")': 1}

In [85]:
categories_2 = {
    'spor_ext': ['Sport Seats', 
                 'Sport Package', 
                 'Sport Suspension',
                 'Shift Paddles', 
                 'Tuned Car'], # sport features
    
    'wheel_ext': ['Alloy Wheels \(17"\)',
                  'Alloy Wheels \(19"\)', 
                  'Alloy Wheels \(18"\)', 
                  'Alloy Wheels \(16"\)', 
                  'Alloy Wheels \(21"\)', 
                  'Alloy Wheels \(20"\)', 
                  'Alloy Wheels \(22"\)', 
                  'Alloy Wheels \(23"\)',
                  'Alloy Wheels \(13"\)',
                  'Alloy Wheels \(26"\)', 
                  'Alloy Wheels \(10"\)', 
                  'Alloy Wheels \(14"\)',
                  'Alloy Wheels \(15"\)',                  
                  'Steel Wheels',
                  'Alloy Wheels',
                  
                  ], # wheels #'Alloy Wheels' 
                
    
    'access_ext': ['Headlight Washer System', 
                   "Smoker'S Package", 
                   'Automatically Dimming Interior Mirror',
                   'Voice Control', 
                   'Cargo Barrier', 
                   'Ski Bag', 
                   'Electronic Parking Brake', 
                   'Touch Screen',
                   'Ambient Lighting', 
                   'Roof Rack', 
                   'Trailer Hitch',
                   'Spoiler',
                   'Handicapped Enabled',
                   'Awning'], # extra accessories
    
    'tires_ext': ['Emergency Tyre Repair Kit', 
                  'Summer Tyres', 
                  'Winter Package', 
                  'Winter Tyres', 
                  'Emergency Tyre',
                  'All Season Tyres',
                  'Spare Tyre'
                 ], # tires
    
    'other_ext': ['Catalytic Converter',
                  'Sliding Door',
                  'E10-Enabled',
                  'Biodiesel Conversion',
                  'Range Extender',
                  'Right Hand Drive'
                 ] # other extras
}

In [86]:
categories_2.items()

dict_items([('spor_ext', ['Sport Seats', 'Sport Package', 'Sport Suspension', 'Shift Paddles', 'Tuned Car']), ('wheel_ext', ['Alloy Wheels \\(17"\\)', 'Alloy Wheels \\(19"\\)', 'Alloy Wheels \\(18"\\)', 'Alloy Wheels \\(16"\\)', 'Alloy Wheels \\(21"\\)', 'Alloy Wheels \\(20"\\)', 'Alloy Wheels \\(22"\\)', 'Alloy Wheels \\(23"\\)', 'Alloy Wheels \\(13"\\)', 'Alloy Wheels \\(26"\\)', 'Alloy Wheels \\(10"\\)', 'Alloy Wheels \\(14"\\)', 'Alloy Wheels \\(15"\\)', 'Steel Wheels', 'Alloy Wheels']), ('access_ext', ['Headlight Washer System', "Smoker'S Package", 'Automatically Dimming Interior Mirror', 'Voice Control', 'Cargo Barrier', 'Ski Bag', 'Electronic Parking Brake', 'Touch Screen', 'Ambient Lighting', 'Roof Rack', 'Trailer Hitch', 'Spoiler', 'Handicapped Enabled', 'Awning']), ('tires_ext', ['Emergency Tyre Repair Kit', 'Summer Tyres', 'Winter Package', 'Winter Tyres', 'Emergency Tyre', 'All Season Tyres', 'Spare Tyre']), ('other_ext', ['Catalytic Converter', 'Sliding Door', 'E10-Enabled', 'Biodiesel Conversion', 'Range Extender', 'Right Hand Drive'])])

In [87]:
for category, extra_type in categories_2.items():
    for i in extra_type:
        df["extras"] = df["extras"].str.replace(i, category, regex=True)

In [88]:
df.extras

0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                             spor_ext
4                                                  NaN
                             ...
29475                            wheel_ext, access_ext
29476                wheel_ext, access_ext, access_ext
29477                            wheel_ext, access_ext
29478    wheel_ext, access_ext, access_ext, access_ext
29479                                              NaN
Name: extras, Length: 29480, dtype: object

In [89]:
# dublicate extras is removed
df["extras"] = df["extras"].apply(lambda x : ",".join(set(x.replace(" ","").split(","))) if type(x) == str else x)

In [90]:
df.extras

0                         NaN
1                         NaN
2                         NaN
3                    spor_ext
4                         NaN
                 ...
29475    wheel_ext,access_ext
29476    wheel_ext,access_ext
29477    wheel_ext,access_ext
29478    wheel_ext,access_ext
29479                     NaN
Name: extras, Length: 29480, dtype: object

# comfort_&_convenience

In [91]:
df["comfort_&_convenience"] = df["comfort_&_convenience"].apply(lambda x: x[0] if isinstance(x, list) else x).str.title().astype("category")

In [92]:
list_comfort = list(df["comfort_&_convenience"].dropna().unique())

In [93]:
result = {}
for item in list_comfort:
    parts = item.split(', ')
    for part in parts:
        part = part.strip()
        if part in result:
            result[part] += 1
        else:
            result[part] = 1
result

{'Air Conditioning': 12077,
 'Automatic Climate Control': 10818,
 'Power Windows': 13114,
 'Rain Sensor': 9683,
 'Electrical Side Mirrors': 12606,
 'Multi-Function Steering Wheel': 11318,
 'Split Rear Seats': 4427,
 'Armrest': 9567,
 'Cruise Control': 11231,
 'Lumbar Support': 5922,
 'Panorama Roof': 2445,
 'Parking Assist System Sensors Front': 6470,
 'Parking Assist System Sensors Rear': 10543,
 'Sunroof': 2433,
 'Tinted Windows': 5114,
 'Navigation System': 9116,
 'Parking Assist System Self-Steering': 2491,
 'Seat Heating': 8815,
 'Leather Steering Wheel': 11091,
 'Light Sensor': 9364,
 'Start-Stop System': 8108,
 'Parking Assist System Camera': 6495,
 'Hill Holder': 7685,
 'Electrically Heated Windshield': 2274,
 'Heads-Up Display': 1011,
 'Keyless Central Door Lock': 4846,
 '2 Zones': 3323,
 'Auxiliary Heating': 940,
 'Electric Tailgate': 2501,
 'Electrically Adjustable Seats': 3808,
 '360° Camera': 971,
 'Air Suspension': 522,
 'Seat Ventilation': 978,
 'Massage Seats': 453,
 'Park Distance Control': 39,
 '3 Zones': 290,
 'Fold Flat Passenger Seat': 654,
 'Wind Deflector': 444,
 'Electric Backseat Adjustment': 281,
 'Heated Steering Wheel': 2972,
 '4 Zones': 131,
 'Sliding Door Right': 118,
 'Sliding Door Left': 80,
 'Leather Seats': 6}

In [94]:
comfort_key = {
    
"climate" : ["Air Conditioning", 
                   "Automatic Climate Control",
                   "2 Zones",
                   "3 Zones",
                   "4 Zones"
                   ],
    
"win_roof" : ["Power Windows", 
             "Tinted Windows", 
             "Panorama Roof", 
             "Sunroof"],
    
"mir_body" : ["Electrical Side Mirrors",
              "Electric Tailgate",
              "ElectricTailgate"
              ],

"steer_cont" : ["Multi-Function Steering Wheel",
                "Cruise Control",
                "Start-Stop System",
                "Leather Steering Wheel",
                "Heated Steering Wheel",
                      ],
    
"comfort" : ["Split Rear Seats",
             "Leather Seats",
             "Armrest",
             "Lumbar Support",
             "Seat Heating",
             "Seat Ventilation",
             "Massage Seats",
             "Fold Flat Passenger Seat",
             "Electric Backseat Adjustment",
             "Electrically Adjustable Seats",
            ],
    
"park_assist" : ["Parking Assist System Sensors Front",
                 "Parking Assist System Sensors Rear",
                 "Parking Assist System Self-Steering",
                 "Parking Assist System Camera",
                 "Park Distance Control",
                 "360° Camera",
                 ],
    
"safety_assist" : ["Rain Sensor",
                    "Light Sensor",
                    "Hill Holder", 
                    "Electrically Heated Windshield", 
                    "Heads-Up Display"],
    
"other" : ["Keyless Central Door Lock",
           "Auxiliary Heating",
           "Navigation System",
           "Wind Deflector",
           "Sliding Door Right",
           "Sliding Door Left",
           "Air Suspension"
           ]
    
}

In [95]:
comfort_key.items()

dict_items([('climate', ['Air Conditioning', 'Automatic Climate Control', '2 Zones', '3 Zones', '4 Zones']), ('win_roof', ['Power Windows', 'Tinted Windows', 'Panorama Roof', 'Sunroof']), ('mir_body', ['Electrical Side Mirrors', 'Electric Tailgate', 'ElectricTailgate']), ('steer_cont', ['Multi-Function Steering Wheel', 'Cruise Control', 'Start-Stop System', 'Leather Steering Wheel', 'Heated Steering Wheel']), ('comfort', ['Split Rear Seats', 'Leather Seats', 'Armrest', 'Lumbar Support', 'Seat Heating', 'Seat Ventilation', 'Massage Seats', 'Fold Flat Passenger Seat', 'Electric Backseat Adjustment', 'Electrically Adjustable Seats']), ('park_assist', ['Parking Assist System Sensors Front', 'Parking Assist System Sensors Rear', 'Parking Assist System Self-Steering', 'Parking Assist System Camera', 'Park Distance Control', '360° Camera']), ('safety_assist', ['Rain Sensor', 'Light Sensor', 'Hill Holder', 'Electrically Heated Windshield', 'Heads-Up Display']), ('other', ['Keyless Central Door Lock', 'Auxiliary Heating', 'Navigation System', 'Wind Deflector', 'Sliding Door Right', 'Sliding Door Left', 'Air Suspension'])])

In [96]:
for classes, attributes in comfort_key.items():
    for i in attributes:
        df["comfort_&_convenience"] = df["comfort_&_convenience"].str.replace(i, classes, regex = True)

In [97]:
df["comfort_&_convenience"]

0                                                      NaN
1                                                      NaN
2                                                      NaN
3                climate, climate, win_roof, safety_assist
4         climate, mir_body, steer_cont, win_roof, comfort
                               ...
29475    climate, comfort, climate, steer_cont, mir_bod...
29476    climate, comfort, climate, steer_cont, mir_bod...
29477    climate, comfort, climate, steer_cont, mir_bod...
29478    climate, comfort, steer_cont, mir_body, steer_...
29479                                                  NaN
Name: comfort_&_convenience, Length: 29480, dtype: object

In [98]:
# remove dublicates

In [99]:
df["comfort_&_convenience"] = df["comfort_&_convenience"].apply(lambda x: ",".join(set(x.replace(" ", "").split(","))) if type(x) == str else x)

In [100]:
df["comfort_&_convenience"]

0                                                      NaN
1                                                      NaN
2                                                      NaN
3                           climate,win_roof,safety_assist
4             climate,mir_body,steer_cont,win_roof,comfort
                               ...
29475    climate,mir_body,park_assist,steer_cont,win_ro...
29476    climate,mir_body,park_assist,steer_cont,win_ro...
29477    climate,other,mir_body,steer_cont,park_assist,...
29478    climate,other,mir_body,steer_cont,win_roof,com...
29479                                                  NaN
Name: comfort_&_convenience, Length: 29480, dtype: object

# Entertainment_&_Media

In [101]:
df["entertainment_&_media"] = df["entertainment_&_media"].apply(lambda x: x[0] if isinstance(x, list) else x).str.title()

In [102]:
# entertainment_&_media
ent_media = {
    'connect': [ # 'Digitalconnectivity',
                      'Usb',
                      'Bluetooth',
                      'Cd Player',
                      'Mp3',
                      'On-Board Computer',                      
                      'Digital Cockpit',
                      'Hands-Free Equipment',
                      'Digital Radio',                      
                      'Induction Charging For Smartphones',
                      'Integrated Music Streaming',
                      'Wlan / Wifi Hotspot',
                      'Radio'
                     # 'Digital'
    ],
    
    'entertainment': [
                      'Television'
    ],
    
    'phone_connection': [
                      'Android Auto',
                      'Apple Carplay'
    ],
    
    'sound_system': [
                      'Sound System'
    ]
}

In [103]:
for keys, values in ent_media.items():
    for x in values:
        df["entertainment_&_media"] = df["entertainment_&_media"].str.replace(x, keys, regex = True)

In [104]:
df["entertainment_&_media"]

0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                                  connect
4                       connect, connect, connect, connect
                               ...
29475                                     connect, connect
29476    connect, connect, connect, connect, connect, c...
29477    phone_connection, phone_connection, connect, c...
29478                                              connect
29479                                                  NaN
Name: entertainment_&_media, Length: 29480, dtype: object

In [105]:
df["entertainment_&_media"] = df["entertainment_&_media"].apply(lambda x: ",".join(set(x.replace(" ", "").split(","))) if type(x) == str else x)

In [106]:
df["entertainment_&_media"]

0                             NaN
1                             NaN
2                             NaN
3                         connect
4                         connect
                   ...
29475                     connect
29476                     connect
29477    connect,phone_connection
29478                     connect
29479                         NaN
Name: entertainment_&_media, Length: 29480, dtype: object

# safety _&_security

In [107]:
df["safety_&_security"] = df["safety_&_security"].apply(lambda x: x[0] if isinstance(x, list) else x).str.title()

In [108]:
# safety_&_security
safety_security = {
    'safety_drive': [     'Abs', 
                        'Driver-Side Airbag',
                        'Electronic Stability Control',
                        'Traction Control', 
                        'Isofix', 
                        'Head Airbag', 
                        'Immobilizer', 
                        'Passenger-Side Airbag', 
                        'Side Airbag', 
                        'Emergency Brake Assistant', 
                        'Lane Departure Warning System', 
                        'Distance Warning System', 
                        'Driver Drowsiness Detection', 
                        'Rear Airbag', 'Tire Pressure Monitoring System'], # Drive Safety Features
    
    'lighting_fea': [   'Bi-Xenon Headlights',                                                 
                        'Fog Lights', 
                        'Led Daytime Running Lights', 
                        'Full-Led Headlights',                                               
                        'Adaptive Headlights', 
                        'Led Headlights',  
                        'Daytime Running Lights',
                        'Xenon Headlights',
                        'Laser Headlights'], # Lighting Features
    
    'security_fea': [       'Central Door Lock With Remote Control',
                        'Central Door Lock', 
                        'Power Steering',  
                        'Alarm System', 
                        ], # Security Features
    
    'comfort_drive': [  'Speed Limit Control System', 
                        'Traffic Sign Recognition', 
                        'Adaptive Cruise Control', 
                        'Blind Spot Monitor'], # Driver Assistance Features
    
    'other_fea': [      'Emergency System', 
                        'High Beam Assist', 
                        'Glare-Free High Beam Headlights', 
                        'Night View Assist'] # Other Features
}

In [109]:
for keys, items in safety_security.items():
    for i in items:
        df["safety_&_security"] = df["safety_&_security"].str.replace(i, keys, regex = True)

In [110]:
df["safety_&_security"] = df["safety_&_security"].apply(lambda x: ",".join(set(x.replace(" ", "").split(","))) if type(x) == str else x)

In [111]:
df["safety_&_security"]

0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                safety_drive,security_fea
4                   safety_drive,lighting_fea,security_fea
                               ...
29475               safety_drive,lighting_fea,security_fea
29476               safety_drive,lighting_fea,security_fea
29477    safety_drive,lighting_fea,comfort_drive,other_fea
29478               safety_drive,lighting_fea,security_fea
29479                                                  NaN
Name: safety_&_security, Length: 29480, dtype: object

# upholstery_colour

In [112]:
upholstery_colour_dict = {
    'prim_up' : ["Black",
                 "Grey",
                 "White"
                ],
    
    'text_up' : ['Beige',
                 'Brown'
                ],
    
    'special_up' : ['Red',
                    'Blue',
                    'Orange',
                    'Green',
                    'Yellow',
                    'Other']

}

In [113]:
for keys, items in upholstery_colour_dict.items():
    for i in items:
        df["upholstery_colour"] = df["upholstery_colour"].str.replace(i, keys, regex = True)

In [114]:
df["upholstery_colour"].unique()

array([nan, 'prim_up', 'special_up', 'text_up'], dtype=object)

# upholstery

In [115]:
upholstery_dict = {
    'fabric_hols' : ["Cloth",
                     "Velour",

                ],
    
    'leather_hols' : ['Full leather',
                      'Part leather'
                ],
    
    'special_hols' : ['Other',
                      'alcantara',
                         ]

}

In [116]:
for keys, items in upholstery_dict.items():
    for i in items:
        df["upholstery"] = df["upholstery"].str.replace(i, keys, regex = True)

In [117]:
df.upholstery.unique()

array([nan, 'fabric_hols', 'leather_hols', 'special_hols'], dtype=object)

# Energy Efficiency

In [118]:
efficiency_dict = {
    'top_efficiency' : ["A\+\+\+",
                        "A\+\+",
                        "A\+"
                       ],
    
    'mid_efficiency' : ["A",
                        "B",
                        "C"
                       ],
    
    'lower_efficiency' : ['D',
                          'E',
                          'F',
                          'G'
                          ]
}

In [119]:
for keys, items in efficiency_dict.items():
    for i in items:
        df["energy_efficiency_class"] = df["energy_efficiency_class"].str.replace(i, keys, regex = True)

In [120]:
df.energy_efficiency_class.unique()

array([nan, 'mid_efficiency', 'lower_efficiency', 'top_efficiency'],
      dtype=object)

In [121]:
# user-defined function for getting columns that have missing values above 79 percent.
def drop_columns(df):
    missing_number = df.isnull().sum().sort_values(ascending=False)
    missing_percent = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending=False)
    missing_values = pd.concat([missing_number, missing_percent], axis=1, keys=['Missing_Number', 'Missing_Percent'])
    return missing_values[missing_values['Missing_Percent']>79]

In [122]:
drop_columns(df)

                         Missing_Number  Missing_Percent
battery_ownership                 29473        99.976255
power_consumption_wltp            29464        99.945726
electric_range_wltp               29464        99.945726
fuel_consumption_wltp             29380        99.660787
co_emissions_wltp                 29364        99.606513
availability                      29179        98.978969
available_from                    29087        98.666893
taxi_or_rental_car                29058        98.568521
power_consumption                 28965        98.253053
last_timing_belt_change           28908        98.059701
last_service                      27477        93.205563
other_fuel_types                  27167        92.154003
production_date                   23572        79.959294

In [123]:
drop_list = drop_columns(df)

In [124]:
df.drop(columns = drop_list.index, axis = 1, inplace = True)

In [125]:
# columns that have missing values above 79 percent has been dropped.
drop_columns(df)

Empty DataFrame
Columns: [Missing_Number, Missing_Percent]
Index: []

In [126]:
# Rows that have all-NaN values are dropped
df.dropna( how = "all", axis = 0, inplace = True)

In [127]:
df.to_json("as24_cars_part_1.json")